# --------------------------------------------------
# Node
# --------------------------------------------------
node_modules/

# --------------------------------------------------
# IDE
# --------------------------------------------------
.idea/

# --------------------------------------------------
# Python cache
# --------------------------------------------------
__pycache__/
*.pyc

# --------------------------------------------------
# Local databases
# --------------------------------------------------
*.db

# --------------------------------------------------
# OS
# --------------------------------------------------
.DS_Store
Thumbs.db

# --------------------------------------------------
# Secrets / Environment
# --------------------------------------------------
.env
.env.*